<img id="center" src="/images/misc/money.gif" alt="too bad, so sad">
<br>
<br>
<p id="center">You're Broke! <br />Thanks for giving the house all your money!</p>
<br>
<div class="text-center"><form action="/wallet" method="get"><input type="submit" class="btn btn-success btn-large" value="Play Again"></form></div>